#### Import

In [25]:
import pandas as pd
import requests

#### API request

In [26]:
requests.get('https://www.gov.uk/bank-holidays.json')

In [43]:
holidays = requests.get('https://www.gov.uk/bank-holidays.json')

#### DataFrame

In [44]:
holidays = pd.DataFrame(holidays.json())

In [45]:
holidays.head()

,england-and-wales,scotland,northern-ireland
division,england-and-wales,scotland,northern-ireland
events,"[{'title': 'New Year’s Day', 'date': '2016-01-...","[{'title': 'New Year’s Day', 'date': '2016-01-...","[{'title': 'New Year’s Day', 'date': '2016-01-..."

#### Getting the dictionary inside the DataFrame

In [46]:
holidays_dict = holidays.loc["events"]["england-and-wales"]

In [47]:
holidays_dict[0]

{'title': 'New Year’s Day', 'date': '2016-01-01', 'notes': '', 'bunting': True}

#### DataFrame of England/Wales holidays between 2016 - 2022

In [37]:
holidays_df = pd.DataFrame(holidays_dict)

In [49]:
holidays_df.head()

                    title        date notes  bunting
0          New Year’s Day  2016-01-01           True
1             Good Friday  2016-03-25          False
2           Easter Monday  2016-03-28           True
3  Early May bank holiday  2016-05-02           True
4     Spring bank holiday  2016-05-30           True

##### My hotel bookings dataset contains data between 2015 - 2017 for two hotels in Portugal. Above API only contains holidays between 2016 and 2022 and are also UK holidays. So trying another API that gives more historical data and also relates to Portugal (given that most of the hotel bookings are from Portuguese people).

In [56]:
requests.get('https://date.nager.at/api/v3/publicholidays/2015/PT')

In [57]:
requests.get('https://date.nager.at/api/v3/publicholidays/2016/PT')

In [58]:
requests.get('https://date.nager.at/api/v3/publicholidays/2017/PT')

In [59]:
holidays_portugal_2015 = requests.get('https://date.nager.at/api/v3/publicholidays/2015/PT')

In [60]:
holidays_portugal_2016 = requests.get('https://date.nager.at/api/v3/publicholidays/2016/PT')

In [61]:
holidays_portugal_2017 = requests.get('https://date.nager.at/api/v3/publicholidays/2017/PT')

In [62]:
holidays_portugal_2015 = pd.DataFrame(holidays_portugal_2015.json())

In [63]:
holidays_portugal_2016 = pd.DataFrame(holidays_portugal_2016.json())

In [64]:
holidays_portugal_2017 = pd.DataFrame(holidays_portugal_2017.json())

In [65]:
holidays_portugal_2015.head()

,date,localName,name,countryCode,fixed,global,counties,launchYear,types
0,2015-01-01,Ano Novo,New Year's Day,PT,True,True,None,None,[Public]
1,2015-02-17,Carnaval,Carnival,PT,False,True,None,None,[Optional]
2,2015-04-03,Sexta-feira Santa,Good Friday,PT,False,True,None,None,[Public]
3,2015-04-05,Domingo de Páscoa,Easter Sunday,PT,False,True,None,None,[Public]
4,2015-04-25,Dia da Liberdade,Freedom Day,PT,True,True,None,None,[Public]

In [66]:
holidays_portugal_2016.head()

,date,localName,name,countryCode,fixed,global,counties,launchYear,types
0,2016-01-01,Ano Novo,New Year's Day,PT,True,True,None,None,[Public]
1,2016-02-09,Carnaval,Carnival,PT,False,True,None,None,[Optional]
2,2016-03-25,Sexta-feira Santa,Good Friday,PT,False,True,None,None,[Public]
3,2016-03-27,Domingo de Páscoa,Easter Sunday,PT,False,True,None,None,[Public]
4,2016-04-25,Dia da Liberdade,Freedom Day,PT,True,True,None,None,[Public]

In [83]:
holidays_portugal_2017.head()

,date,localName,name,countryCode,fixed,global,counties,launchYear,types
0,2017-01-01,Ano Novo,New Year's Day,PT,True,True,None,None,[Public]
1,2017-02-28,Carnaval,Carnival,PT,False,True,None,None,[Optional]
2,2017-04-14,Sexta-feira Santa,Good Friday,PT,False,True,None,None,[Public]
3,2017-04-16,Domingo de Páscoa,Easter Sunday,PT,False,True,None,None,[Public]
4,2017-04-25,Dia da Liberdade,Freedom Day,PT,True,True,None,None,[Public]

#### Concatenate 2015, 2016, 2017 holiday data

In [86]:
holidays_portugal = pd.concat([holidays_portugal_2015, holidays_portugal_2016, holidays_portugal_2017], ignore_index = True)

#### Dropping columns

In [87]:
holidays_portugal = holidays_portugal.drop(['localName', 'countryCode', 'fixed', 'global', 'counties', 'launchYear', 'types'], axis = 1)

In [88]:
holidays_portugal.head(15)

          date                         name
0   2015-01-01               New Year's Day
1   2015-02-17                     Carnival
2   2015-04-03                  Good Friday
3   2015-04-05                Easter Sunday
4   2015-04-25                  Freedom Day
5   2015-05-01                   Labour Day
6   2015-06-01                   Azores Day
7   2015-06-04               Corpus Christi
8   2015-06-10                 National Day
9   2015-07-01                  Madeira Day
10  2015-08-15               Assumption Day
11  2015-10-05                 Republic Day
12  2015-11-01               All Saints Day
13  2015-12-01  Restoration of Independence
14  2015-12-08        Immaculate Conception